asgiref             3.5.2
Django              4.1.4
django-crispy-forms 1.14.0
pip                 22.3.1
psycopg2            2.9.5
setuptools          65.5.1
sqlparse            0.4.3
tzdata              2022.7
wheel               0.38.4